[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
frequent = {path = ".",editable = true}

[dev-packages]
coverage = "*"
flake8 = "*"
git-fame = "*"
invoke = "*"
lxml = "*"
mypy = "*"
pandoc = "*"
parver = "*"
pytest = "*"
pytest-cov = "*"
pytest-mypy = "*"
pytest-timeout = "*"
pytest-xdist = "*"
python-dotenv = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
towncrier = "*"
tox = "*"
twine = "*"
